
.LoginLink , .ConnexionLinks {
    text-decoration: none;
}
.LoginLink {
    color: white;
}
.ConnexionLinks {
    color: #5100FF;
}

.AccueilContent {
    height: 75vh;
}


#ConnexImage {
    width: 25rem;
}
.signUpBtn {
    background-color: #5100FF;
    color: white;
}

.Img2 {
    height: 90vh;
}

.Form {
    height: 70vh;
}

.TableCaption{
    font-weight: bolder;
    font-size: 2rem;
}
